* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ba0006;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    font-size: 18px;
}

button {
    color: #000000;
    padding: 10px 30px 10px 30px;
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 0.3rem 0.3rem 0 #222222;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
}

button:hover {
    cursor: pointer;
}

button.main {
    color: #ffffff;
    background-color: #ba0006;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.logo {
    color: #ba0006;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: bolder;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 16px;
    transition: 0.5s;
}

.nav-links a:hover {
    color: #ba0006;
}

header {
    display: flex;
    margin: 20px 0px 0px 0px;
    min-height: 800px;
    align-items: center;
    justify-content: space-around;
    padding: 10% 10% 10% 10%;
}

.header-illustration {
    flex-basis: 40%;
}

.header-site-description {
    padding: 5% 0px 5% 5%;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.header-site-description h1 {
    color: #ba0006;
    font-weight: bold;
}

.header-site-description p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-base {
    background-color: #ffffff;
    border: 3px solid #000000;
    box-shadow: 0.6rem 0.6rem 0 #222222;
}

section {
    margin-top: 24px;
}

#news {
    width: 80%;
    margin: auto;
}

.news-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}

.image-news {
    flex-basis: 30%;
}

.text-news {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 24px;
}

.title-news {
    font-weight: bolder;
    color: #ba0006;
}

.short-desciption-news {
    color: #000000;
    font-size: 14px;
    margin-top: 12px;
}

.event-container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.event-container-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-container-title span {
    font-size: 1.6em;
    color: #000000;
}

.event-container-content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.category-news,
.event-date {
    margin-top: 16px;
    font-size: 12px;
    font-weight: bold;
}

.event-card {
    margin: auto;
    width: 22%;
    padding: 24px;
}

.event-description {
    margin-top: 8px;
    font-size: 16px;
}